body {
    background-color: #555;
}

main {
    width: 100%;
}

h1 {
    margin: auto;
    margin-top: 25px;
}

h2{
	font-size:175%;
	margin: 0;	
	margin-top:2px;
	margin-bottom: 5px;
	padding: 0px;
	font-weight: normal;
}
.button {
    border-radius: 15px;
    text-align: center;
}

.button:hover {
    opacity: 0.9;
}

.mainDiv {  
    display: inline-block;
    width: 100%;
}

.startbox{
    float: left;
	width: 47%;
	padding: 1%;
	height: 350px;
    margin: 0.5%;
   /* box-sizing: border-box; */
}

.halbelement{
    float: left;
    width: 47%;
	padding: 1%;
    margin: 0.5%;
    border: none;
    height: 15pt;
}

.ganzelement{
    float: left;
    width: 97%;
	padding: 1%;
    margin: 0.5%;
    border: none;
    height: 15pt;
    text-align: center;
}

/* Error und Hinweis */

.errorDiv, .infoDiv {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.errorDivTitle {
    background-color: #ef0000;
    padding: 10px;
    font-weight: bold;
}

.errorDivContent {
    background-color: #c51b1b;
    padding: 10px;
}

.infoDivTitle {
    background-color: #444141;
    padding: 10px;
    font-weight: bold;
}

.infoDivContent {
    background-color: #635f5f;
    padding: 10px;
}

.allContacts {
    float: left;
    width: 99%;
    background-color: #123456;
    margin: 0.5%;
    padding: 1%;
    box-sizing: border-box;
    color: white;
}

.allContactsTable {
    width: 100%;
}

.allContactsTable th {
    background-color: #05192e;
    text-align: center;
    color: #b2b2b2;
    padding: 7px;
}

.allContactsTable td {
    background-color: #012345;
    text-align: center;
    color: #b2b2b2;
    padding: 5px;
}

.heightspace {
    height: 50px;
    float: left;
    width: 100%;
}

/* --- Farben / Colours --- */


.input {
    background-color: #125634;
    color: #bcffbc;
}

.inputElement {
    background-color: #014523;
    color: #deffde;
}

.status {
    background-color: rgba(35, 128, 35, 0.75);
}

.output {
    background-color: rgba(0,0,0, 0.3);
    color: #eeeeee;
}

@media screen and (max-width: 900px) {
    .startbox {
        width: 97%;
    }
}